[submodule "integration-test/src/test/resources/klaytn-integration-tests"]
	path = integration-test/src/test/resources/klaytn-integration-tests
	url = https://github.com/klaytn/klaytn-integration-tests.git
[submodule "conformance-test/src/test/resources/caver-conformance-tests"]
	path = conformance-test/src/test/resources/caver-conformance-tests
	url = https://github.com/Krustuniverse-Klaytn-Group/caver-conformance-tests.git
